
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h1 class="display-5">
                Articles
            </h1>
        </div>
        <div class="col-lg-3"></div>
    </div>
    {{#each Article}} {{#unless saved}}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="article">
                <div class="article-container">
                    <img class="article-image float-left" src="{{this.image}}" width="250" height="250">
                    <div class="row">
                        <h2 class="article-headline">{{this.headline}}</h2>
                    </div>
                    <div class="row">
                        <p class="article-summary">{{this.summary}}</p>
                    </div>
                    <div class="row align-bottom">
                        <div class="article-bylines">
                            <p class="article-timestamp">{{this.timeStamp}}</p>
                            <form action="/article/save/{{id}}" method="POST">
                                <button type="submit" class="btn btn-primary article-save float-right">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    {{/unless}} {{/each}}
</div>